body,html {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.entryItem {
  display: flex;
  flex-direction: row;

  .voteStatus {
    display: flex;
    flex-direction: row;
    align-items: center;
    button {
      height: 20px;
      padding: 0px;
    }
  }
}

.entryItem {
  display: flex;
  flex-direction: row;

  .voteStatus {
    display: flex;
    flex-direction: row;
    align-items: center;
    button {
      height: 20px;
      padding: 0px;
    }
  }

  .voteIcon {
    cursor: pointer;
  }
}

.flex-center {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
}

.center-window {
  width: 100vw;
  height: 100vh;
}

.wrap-login {
  display: flex;
  flex-direction: column;

}